.composer-product-version-fields {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  color: var(--primary-high);
  width: 100%;

  .multi-select {
    flex: 50%;
    flex-grow: 0;
  }
}

#topic-title {
  .edit-topic-product-version-fields {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 2%;

    .desc {
      color: var(--primary-medium);
      padding-top: 3px;
      font-size: var(--font-down-1);
      line-height: var(--line-height-large);
    }

    .product-version-field-container {
      width: 200px;
      flex: 1;
      .select-kit.multi-select {
        width: 100%;
      }

      .mini-tag-chooser {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
}

#topic-title #edit-title,
#topic-title .category-chooser,
#topic-title .edit-controls {
  width: 200px;
}

#topic-title .edit-topic-title .category-chooser,
#topic-title .edit-topic-title .mini-tag-chooser {
  flex: unset;
  margin: 0 0 9px 9px;
}

#topic-title .edit-topic-title > .mini-tag-chooser {
  display: none;
}
