.composer-product-version-fields {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  color: var(--primary-high);
  width: 100%;

  .multi-select {
    flex: 50%;
    flex-grow: 0;
  }
}

#topic-title .edit-controls {
  margin-top: 1rem;
}
